<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
    </head>
    <div style="font-family:sans-serif; color:#0f172a">
        <p>Hi, <span th:text="${userFirstName}"/>!</p>
        <br/>
        <p>
            We received a request to enable your <span th:text="${appName}"/> account.
        </p>
        <br/>
        <p>
            A secure link has been generated to enable your account. Please click the following link within 15
            minutes to enable your account:<br/>
            <a style="word-wrap: break-word" th:href="${enableUserUri}" th:text="${enableUserUri}"/>
        </p>
        <br/>
        <p>
            If your account is disabled, and you haven't requested to enable it, we recommend you enable your
            account and change your email address and/or password. To do that, log into your account and navigate
            to account settings.
        </p>
        <br/>
        <p>
            If you have any questions or encounter any difficulties, please don't hesitate to contact our support team
            by replying to this message.
        </p>
        <br/>
        <p>Sincerely,</p>
        <p>The <span th:text="${appName}"/> supporting team</p>
    </div>
</html>
